@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager

<body data-spy="scroll" data-target=".menu-area" data-offset="200">
    <!--wrapper page-->
    <div class="wrapper">
    
        <!-- Main Header -->
        <header class="main-header" id="home">
            <div class="content-table header-content-fixed ">
                <div class="whoim">
                    <div class="box-line text-uppercase text-bold">
                        OUTBREAK
                    </div>
                </div>
                <div class="v-content">
                    <div class="container">
                        <h1 class="text-uppercase color-dark name">Кем будешь ты?</h1>
                        <h4 class="text-uppercase color-dark font-alt job"><span id="typed" class="typed"></span></h4>
                    </div>
                </div>
            </div>


            <!-- Main navbar -->
            <div class="menu-area">
                <div class="toogle-bars">
                    <a href="#menu-collapse" data-toggle="collapse" class="collapsed"><i class="fa fa-bars ic-open"></i> <i class="fa fa-remove ic-close"></i>Меню</a>
                </div>
                <div class="menu-collapse collapse" id="menu-collapse">
                    <div class="container">
                        <div class="row">
                            <div class="col-md-3">
                                <ul class="breadcrumb main-nav no-space">
                                    <li class="link-inpage"><a href="#contact" id="hireme-tab" class="link-inpage"><i class="fa fa-envelope-o"></i>   Написать админам</a></li>
                                </ul>
                            </div>
                            <div class="col-md-6">
                                <ul class="breadcrumb main-nav nav">
                                    <li class="active"><a href="#home" class="link-inpage">Домой</a></li>
                                    <li><a href="#about" class="link-inpage">О проекте</a></li>
                                    <li><a href="#blog" class="link-inpage">Новости</a></li>
                                    <li><a href="#portfolio" class="link-inpage">Байки</a></li>
                                    <li><a href="#resume" class="link-inpage">История</a></li>
                                    <li><a href="#contact" id="contact-tab" class="link-inpage">Контакты</a></li>
                                </ul>
                            </div>
                            <div class="col-md-3">
                                @if (!User.Identity.IsAuthenticated)
                                {
                                    <ul class="breadcrumb main-nav no-space">
                                        <li class="link-inpage"><a href="/Account/Login" id="hireme-tab" class="link-inpage"> Войти</a></li>
                                        <li class="link-inpage"><a href="/Account/Register" id="hireme-tab" class="link-inpage"> Зарегистрироваться</a></li>
                                    </ul>
                                }
                                else
                                {
                                    <ul class="breadcrumb main-nav no-space">
                                        <li class="link-inpage"><a asp-controller="Account" asp-action="Profile" id="hireme-tab" asp-route-id="@ViewBag.currentUserId" class="link-inpage"> Мое досье</a></li>
                                        <li class="link-inpage"><a asp-controller="Account" asp-action="Logoff" id="hireme-tab" class="link-inpage"> Выйти</a></li>
                                    </ul>
                                }
                            </div>
                        </div>
                    </div>
                </div>
            </div><!-- End Main navbar -->
        </header><!-- End Main Header -->
        <!-- ABOUT ME -->
        <section id="about" class="block-section">
            <div class="clearfix my-profile">
                <div class="my-pict">
                    <div class="overfly">
                        <div class="text-botttom">
                            <h2 class="text-uppercase color-dark text-bold">Furik и Dippy</h2>
                            <h5 class="text-uppercase color-dark font-alt ">Администраторы проекта</h5>
                        </div>
                    </div>
                </div>
                <div class="my-desc">
                    <div class="bg-secondary clearfix">
                        <div class="inner-text">
                            <h3 class=" color-dark no-margin-top">Добро пожаловать!</h3>
                            <p><b>Наш проект</b> - это MMORPG в рамках DayZ Standalone. Он направлен на широкую аудиторию любителей DayZ. Геймплей удовлетворит как самых фанатичных RP игроков, так и заядлых PvPшников. Мы считаем, нет ничего лучше, чем совмещать эти направления в DayZ даже в частном порядке.</p>
                            <p class="no-margin"><b>Особенности геймплея</b>: Фракции. Каждая фракция имеет свои цели и задачи, распределение игроков по фракциям в ходе РП игры. Уникальные персонажи. Динамичный и опасный мир, высокая активность игроков фракций. </p>
                        </div>
                    </div>
                    <div class="bg-dark clearfix">
                        <div class="inner-text">
                            <p class="no-margin color-light ">
                            <p class="no-margin"><b>Описание мира</b>: Республика Чернорусь переживает эпидемию, катастрофически повлиявшую на жизнь людей в этом регионе, возможно на всей планете. Связь с внешним миром потеряна. Уцелевший отряд вооружённых сил Черноруси занял военную базу близь поселка Тисы. Основной задачей для отряда стал поиск и спасение выживших. Найденных транспортируют в наиболее безопасный район – Турово и его окрестности, где люди организуют лагерь. </p>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </section><!-- END ABOUT ME -->
        <!-- SERVICES-->

    <section class="block-section">
        @if (User.Identity.IsAuthenticated)
        {
        <!-- SERVICES-->
        <div class="container">
            <ul class="services list-unstyled clearfix">
                <a href="http://dippytest1-001-site1.dtempurl.com/">
                    <li class="col-sm-4 no-padding">
                        <div class="box">
                            <div class="ic"></div>
                            <div class="ic"><i class="fa fa-laptop"></i></div>
                            <h5 class="text-uppercase color-dark">Штаб военных</h5>
                            <h6 class="text-uppercase color-primary"><i>В разработке</i></h6>
                        </div>
                    </li>
                </a>
                <a href="http://dippytest1-001-site1.dtempurl.com/">
                    <li class="col-sm-4 no-padding">
                        <div class="box">
                            <div class="ic"><i class="fa fa-laptop"></i></div>
                            <h5 class="text-uppercase color-dark">Сеть гражданских</h5>
                            <h6 class="text-uppercase color-primary"><i>В разработке</i></h6>
                        </div>
                    </li>
                </a>
                <a href="http://dippytest1-001-site1.dtempurl.com/">
                    <li class="col-sm-4 no-padding">
                        <div class="box ">
                            <div class="ic"></div>
                            <div class="ic"><i class="fa fa-laptop"></i></div>
                            <h5 class="text-uppercase color-dark">Логово бандитов</h5>
                            <h6 class="text-uppercase color-primary"><i>В разработке</i></h6>
                        </div>
                    </li>
                </a>
            </ul>
        </div><!-- END SERVICES-->
        }
        <div class="parallax-bg bg3">
            <div class="container">
                <div class="text-center" style="padding:75px">
                    <a href="#" class="btn btn-flat-line btn-default light-font ">Правила</a>
                    <span class="space-inline-15 hidden-xs"></span>
                    <a href="#" class="btn btn-flat-line btn-default light-font">Фракции</a>
                </div>
            </div>
        </div>
    </section>
        <!-- RESUME -->
        <section id="blog" class="block-section">
            <!--BLOG TITLE-->
            <div class=" shape-bottom">
                <div class="bg-secondary block-title">
                    <div class="container">
                        <h2 class="text-uppercase color-dark text-bold no-margin">Новости</h2>
                        <div class="title-icon"> <i class="fa fa-comments-o"></i> </div>
                    </div>
                </div>
            </div><!--END BLOG TITLE-->

            <div class="block-page">
                <div class="container-medium">
                    <!--LIST BLOG-->
                    <ul class="list-unstyled list-blog">
                        <li>
                            <div class="clearfix box-blog">
                                <div class="blog-bg" data-holdbg="/assets/theme/images/blog/1.jpg">
                                    &nbsp;
                                    <div class="blog-ic"><i class="fa fa-pencil"></i></div>
                                </div>
                                <div class="blog-content">
                                    <h5 class="text-uppercase color-dark text-bold">Title BLog Goes Here.</h5>
                                    <div class="post-meta font-alt">
                                        <span><i class="fa fa-calendar"></i> 19th May 2014</span>
                                        <span><i class="fa fa-user"></i> Jack</span>
                                        <span><i class="fa fa-folder-o"></i> Новости</span>
                                    </div>
                                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                                    <a href="blog-detail.html" class="btn btn-xs btn-flat-solid primary-btn">Читать дальше</a>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="clearfix box-blog">
                                <div class="blog-bg" data-holdbg="/assets/theme/images/blog/2.jpg">
                                    &nbsp;
                                    <div class="blog-ic"><i class="fa fa-picture-o"></i></div>
                                </div>
                                <div class="blog-content">
                                    <h5 class="text-uppercase color-dark text-bold">Title BLog Goes Here.</h5>
                                    <div class="post-meta font-alt">
                                        <span><i class="fa fa-calendar"></i> 19th May 2014</span>
                                        <span><i class="fa fa-user"></i> Jack</span>
                                        <span><i class="fa fa-folder-o"></i> Новости</span>
                                    </div>
                                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                                    <a href="blog-detail.html" class="btn btn-xs btn-flat-solid primary-btn">Читать дальше</a>
                                </div>
                            </div>
                        </li>
                    </ul> <!--END LIST BLOG-->
                    <!--BTN SHOW MORE-->
                    <div class="box-btn-more"><a href="blog-list.html" class="btn btn-flat-line btn-link" id="more-blog">Показать все</a></div>
                </div>
            </div>
            <!--SKILLS-->

            

            <div class=" shape-bottom">
                <div class="bg-secondary block-title">
                    <div class="container">
                        <h2 class="text-uppercase color-dark text-bold no-margin">Статистика</h2>
                        <div class="title-icon"> <i class="fa fa-magic"></i> </div>
                    </div>
                </div>
            </div>
            <div class="container-medium">
                <!--SKIL CHART TOP-->
                <ul class="skill top list-unstyled clearfix">
                    <li class="col-sm-6 col-xs-12 no-padding">
                        <div class="box">
                            <span class="chart" data-percent="67">
                                <span class="percent color-dark"></span>
                            </span>
                            <div class="text-uppercase  color-dark">Сервер #1</div>
                        </div>
                    </li>
                    <li class="col-sm-6 col-xs-12 no-padding">
                        <div class="box">
                            <span class="chart" data-percent="87">
                                <span class="percent color-dark"></span>
                            </span>
                            <div class="text-uppercase  color-dark">TeamSpeak</div>
                        </div>
                    </li>
                    <li>
                        <!-- MORE SKILS -->
                        <div class="title-border">
                            <h5 class="text-uppercase color-dark no-margin text-bold ">Прогресс пожертвований</h5>
                        </div>
                        <div class="row">
                            <div class="col-sm-6">
                                <ul class="list-unstyled list-progress">
                                    <li>
                                        <div class="text-uppercase color-dark title ">На этот месяц:  <small>45% (4500 Руб.)</small></div>
                                        <div class="progress-line">
                                            <div class="line" data-holdwidth="45%"></div>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                            <div class="col-sm-6">
                                <ul class="list-unstyled list-progress">
                                    <li>
                                        <div class="text-uppercase color-dark title">На следующий месяц:  <small>80% (8000 Руб.)</small></div>
                                        <div class="progress-line">
                                            <div class="line" data-holdwidth="80%"></div>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </div><!-- END MORE SKILS -->
                    </li>
                </ul><!--END SKIL CHART TOP-->
                
                <div class="white-space-50"></div>
            </div>

            <!-- DOWNLOAD & PRVIEW BTN -->
            <div class="parallax-bg bg1">
                <div class="container">
                    <div class="padding30 text-center">
                        <a href="#" class="btn btn-flat-line btn-default light-font "> Живые </a>
                        <span class="space-inline-15 hidden-xs"></span>
                        <a href="#" class="btn btn-flat-line btn-default light-font"> Мертвые </a>
                    </div>
                </div>
            </div><!-- END DOWNLOAD & PRVIEW BTN -->
        </section><!-- END SERVICES-->
        <!--PORTFOLIO-->
        <section id="portfolio" class="block-section">
            <!--PORTFOLIO TITLE-->
            <div class=" shape-bottom">
                <div class="bg-secondary block-title">
                    <div class="container">
                        <h2 class="text-uppercase color-dark text-bold no-margin">Байки у костра</h2>
                        <div class="title-icon"> <i class="fa fa-inbox"></i> </div>
                    </div>
                </div>
            </div><!--END PORTFOLIO TITLE-->
            <!--List WOrk-->
            <div class="block-page">
                <div class="container-medium clearfix">
                    <div class="row list-work">
                        <div class="col-md-4 col-sm-6">
                            <div class="box-work">
                                <div class="work-preview">
                                    <img src="/assets/theme/images/portfolio/p1.png" alt="">
                                    <div class="hover">
                                        <div class="link-btns">
                                            <a href="/assets/theme/images/portfolio/p1.png" title="pic 02" class="galery-item"><i class="fa fa-search-plus"></i></a>
                                            <a href="portfolio-detail.html"><i class="fa fa-link"></i></a>
                                        </div>
                                        <a href="portfolio-detail.html" class="project-title">Project Title</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4 col-sm-6">
                            <div class="box-work">
                                <div class="work-preview">
                                    <img src="/assets/theme/images/portfolio/p2.jpg" alt="">
                                    <div class="hover">
                                        <div class="link-btns">
                                            <a href="/assets/theme/images/portfolio/p2.jpg" title="pic 02" class="galery-item"><i class="fa fa-search-plus"></i></a>
                                            <a href="portfolio-detail.html"><i class="fa fa-link"></i></a>
                                        </div>
                                        <a href="portfolio-detail.html" class="project-title">Project Title</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4 col-sm-6">
                            <div class="box-work">
                                <div class="work-preview">
                                    <img src="/assets/theme/images/portfolio/p3.png" alt="">
                                    <div class="hover">
                                        <div class="link-btns">
                                            <a href="/assets/theme/images/portfolio/p3.png" title="pic 03" class="galery-item"><i class="fa fa-search-plus"></i></a>
                                            <a href="portfolio-detail.html"><i class="fa fa-link"></i></a>
                                        </div>
                                        <a href="portfolio-detail.html" class="project-title">Project Title</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!--BTN SHOW MORE-->
                    <div class="box-btn-more"><a href="portfolio-list.html" class="btn btn-flat-line btn-link" id="more-work"> Показать все</a></div>
                </div>
            </div><!--END List WOrk-->
            <!--TESTIMONIAL-->
            <div class="parallax-bg black-light bg2">
                <div class="container-medium">
                    <div class="block-page ">
                        <div id="carousel-example-generic" class="carousel slide carousel-testi" data-ride="carousel">
                            <!-- Indicators -->
                            <ol class="carousel-indicators">
                                <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
                                <li data-target="#carousel-example-generic" data-slide-to="1"></li>
                                <li data-target="#carousel-example-generic" data-slide-to="2"></li>
                            </ol>

                            <!-- Wrapper for slides -->
                            <div class="carousel-inner" role="listbox">
                                <div class="item active">
                                    <div class="box-testimonial">
                                        <img src="/assets/theme/images/people/1.jpg" alt="" class="img-profile">
                                        <h4 class="color-dark text-capitalize no-margin-top line-dash-bottom"> Well Done Jhone! This guy is Really amazing.  </h4>
                                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                                        <p><a href="#"><img src="/assets/theme/images/patner/1.png" alt="" class="img-logo-client"></a></p>
                                        <p class="font-alt no-margin color-dark">Colie - Css Founder</p>
                                    </div>
                                </div>
                                <div class="item">
                                    <div class="box-testimonial">
                                        <img src="/assets/theme/images/people/2.jpg" alt="" class="img-profile">
                                        <h4 class="color-dark text-capitalize no-margin-top line-dash-bottom"> Well Done Jhone! This guy is Really Something.  </h4>
                                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                                        <p><a href="#"><img src="/assets/theme/images/patner/2.png" alt="" class="img-logo-client"></a></p>
                                        <p class="font-alt no-margin color-dark">Rischy - Js Founder</p>
                                    </div>
                                </div>
                                <div class="item">
                                    <div class="box-testimonial">
                                        <img src="/assets/theme/images/people/3.jpg" alt="" class="img-profile">
                                        <h4 class="color-dark text-capitalize no-margin-top line-dash-bottom"> Well Done Jhone! This guy is Really Tallent.  </h4>
                                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                                        <p><a href="#"><img src="/assets/theme/images/patner/3.png" alt="" class="img-logo-client"></a></p>
                                        <p class="font-alt no-margin color-dark">Robin - Html Founder</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div><!--END TESTIMONIAL-->
        </section><!--END PORTFOLIO-->
        <!--BLOG-->
        <section id="resume" class="block-section">
            <!--EMPLOYEMNT-->
            <div class=" shape-bottom">
                <div class="bg-secondary block-title">
                    <div class="container">
                        <h2 class="text-uppercase color-dark text-bold no-margin">История проекта</h2>
                        <div class="title-icon"> <i class="fa fa-briefcase"></i> </div>
                    </div>
                </div>
            </div>

            <div class="container-medium ">
                <div class="list-employment">
                    <ul class="list-unstyled  clearfix">
                        <li>
                            <div class="ic"><i class="fa fa-briefcase"></i></div>
                            <div class="number font-alt">01</div>
                            <div class="desc">
                                <h5 class="text-uppercase color-dark text-bold">Развертывание проекта</h5>
                                <p class="font-alt color-primary">Closed Alpha</p>
                                <p>Создание сайта проекта, обсуждение концепции геймплея, подготовка лора</p>
                                <p class="font-alt color-dark">  07.2017 - по н.в.</p>
                            </div>
                        </li>
                    </ul>
                </div>
            </div><!--END EMPLOYEMNT-->
            
        </section> <!--END BLOG-->
        <!--CONTACT-->
        <section id="contact" class="block-section">
            
            <!--CONTACT TITLE-->
            <div class=" shape-bottom">
                <div class="bg-secondary block-title">
                    <div class="container">
                        <h2 class="text-uppercase color-dark text-bold no-margin">Контакты</h2>
                        <div class="title-icon"> <i class="fa fa-envelope-o"></i> </div>
                    </div>
                </div>
            </div><!--END CONTACT TITLE-->
            <div class="white-space-50"></div>
            <ul class="skill top list-unstyled clearfix">
                <li class="col-sm-6 col-xs-12 padding-left-30">
                        <div class="form-contact-area clearfix">
                            <div class="inner-contact clearfix ">
                                <!--TABS CONTACT-->
                                <ul id="myTab" class="nav nav-tabs flat-nav-tabs" role="tablist">
                                    <li class="active"><a href="#tab0" role="tab" data-toggle="tab">Отзыв</a></li>
                                    <li><a href="#tab1" role="tab" data-toggle="tab">Обращение</a></li>
                                </ul>

                                <div id="myTabContent" class="tab-content flat-tab-content">
                                    <div class="tab-pane fade in active" id="tab0">
                                        <form method="post" id="contactForm" name="contactForm">
                                            <input type="hidden" name="subject" value="Message Contact Form">
                                            <div class="form-group">
                                                <label>Your Name (*)</label>
                                                <input type="text" class="form-control form-flat" name="fullname" required>
                                            </div>
                                            <div class="form-group">
                                                <label>Email (*)</label>
                                                <input type="email" class="form-control form-flat" name="email" required>
                                            </div>
                                            <div class="form-group">
                                                <label>Your Message (*)</label>
                                                <textarea class="form-control form-flat" name="message" rows="8" required></textarea>
                                            </div>

                                            <div class="form-group">
                                                <div id="captcha1"></div>
                                            </div>
                                            <div class="form-group ">
                                                <button type="submit" class="btn btn-flat-solid primary-btn">Send Message</button>
                                            </div>
                                            <div class="form-group">
                                                <div class="preload-submit hidden"><hr /> <i class="fa fa-spinner fa-spin"></i> Please Wait ...</div>
                                                <div class="message-submit error hidden"></div>
                                            </div>
                                        </form>
                                    </div>
                                    <div class="tab-pane fade" id="tab1">
                                        <form method="post" id="hireForm" name="hireForm">
                                            <input type="hidden" name="subject" value="Message Hire Form">
                                            <input type="hidden" name="file" id="file-att" value="">
                                            <div class="form-group">
                                                <label>Your Name (*)</label>
                                                <input type="text" class="form-control form-flat" name="fullname" required>
                                            </div>
                                            <div class="form-group">
                                                <label>Email (*)</label>
                                                <input type="email" class="form-control form-flat" name="email" required>
                                            </div>
                                            <div class="form-group">
                                                <label>Short Description About of Project (*)</label>
                                                <textarea class="form-control form-flat" name="message" rows="8" required></textarea>
                                            </div>

                                            <div class="form-group">
                                                <label>Attach Your Document <span class="display-block color-dark">(only .pdf  allowed , max size 200Kb)</span></label>
                                                <div class="clearfix">
                                                    <input type="button" id="upload-btn" class="btn btn-flat-solid btn-file btn-xs btn-default  clearfix" value="Choose file">
                                                    <div id="errormsg" class="clearfix error"></div>
                                                    <div id="pic-progress-wrap" class="progress-wrap"></div>
                                                    <div id="picbox" class="attbox color-dark"></div>
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <div id="captcha2"></div>
                                            </div>

                                            <div class="form-group">
                                                <button type="submit" class="btn btn-flat-solid primary-btn">Send Request</button>
                                            </div>

                                            <div class="form-group">
                                                <div class="preload-submit hidden"><hr /> <i class="fa fa-spinner fa-spin"></i> Please Wait ...</div>
                                                <div class="message-submit error hidden"></div>
                                            </div>
                                        </form>
                                    </div>
                                </div><!--End Tabs-->
                            </div>
                        </div>
                </li>
                <li class="col-sm-6 col-xs-12 no-padding">
                        <div class="form-contact-area clearfix">
                            <div class="inner-contact clearfix ">
                                <h3 class="color-dark text-capitalize no-margin-top line-dash-bottom text-center"> Контактная информация </h3>
                                <h5 class="color-dark no-margin-top" style="padding-left:50px"><i class="fa fa-laptop"></i>  <b style="padding-left:10px"> IP игровой сервера:</b>   127.0.0.1 </h5>
                                <h5 class="color-dark no-margin-top" style="padding-left:50px"><i class="fa fa-laptop"></i>  <b style="padding-left:10px"> TeamSpeak сервера:</b>   dippy.nlhst.com </h5>
                                <h5 class="color-dark no-margin-top" style="padding-left:50px"><i class="fa fa-laptop"></i>  <b style="padding-left:10px"> Почтовый ящик администрации:</b>   outbreak@outbreak.ru </h5>
                                <h5 class="color-dark no-margin-top" style="padding-left:50px"><i class="fa fa-laptop"></i>  <b style="padding-left:10px"> Furik (Сергей):</b>   <a href="http://dippytest1-001-site1.dtempurl.com/Account/Profile/Furik"> http://dippytest1-001-site1.dtempurl.com/Account/Profile/Furik </a></h5>
                                <h5 class="color-dark no-margin-top" style="padding-left:50px"><i class="fa fa-laptop"></i>  <b style="padding-left:10px"> Dippy (Денис):</b>   <a href="http://dippytest1-001-site1.dtempurl.com/Account/Profile/Dippy"> http://dippytest1-001-site1.dtempurl.com/Account/Profile/Dippy </a></h5>
                            </div>
                        </div>
                </li>
            </ul>
            <div class="white-space-50"></div>
        </section><!--END CONTACT-->
        <!--FOOTER-->
        <footer class="main-footer">
            <div class="container">
                <div class="folow-me">
                    До новых встреч!
                </div>
                <p class="text-center no-margin">
                    Furik, Dippy &COPY; 2017
                </p>
                <a href="#home" class="back-to-top"><i class="fa fa-angle-double-up"></i></a>
            </div>
        </footer><!--END FOOTER-->
    </div><!--End wrapper page-->
    <!-- generate captcha -->
    <div id="mycaptcha-wrap" class="hidden mycaptcha1">
        <div id="mycaptcha" class="mycaptcha1"></div>
    </div>
</body>